<!DOCTYPE html>
<html lang="en">
  <body>
        <%- include('layouts/navbar'); -%>
        <%- include('layouts/header'); -%>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>Clean Blog - Start Bootstrap Theme</title>
            <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
            <!-- Font Awesome icons (free version)-->
            <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
            <!-- Google fonts-->
            <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="/css/styles.css" rel="stylesheet" />
        </head>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>As a student in a Fullstack software development Bootcamp, my daily routine is packed with immersive learning and hands-on experiences. We begin by mastering the fundamental building blocks of web development, including HTML, CSS, and JavaScript. These languages lay the foundation for creating visually appealing and interactive web applications. We delve into the intricacies of frontend development, honing our skills in crafting user interfaces that are both responsive and user-friendly.</p>
                        <p>Moving on, we explore the backend of web development, where we dive into Node.js and learn how to build server-side applications. This enables us to handle data storage and retrieval using technologies like PostgreSQL, equipping us with the ability to manage databases effectively. In addition to these core technologies, we also delve into modern frontend frameworks such as React, which empower us to build dynamic and scalable web applications. Throughout the Bootcamp, we constantly collaborate on projects, apply best practices, and troubleshoot real-world challenges, fostering a holistic understanding of the software development lifecycle.</p>
                        <p>Beyond the technical aspects, the Bootcamp fosters a culture of continuous learning and problem-solving. We're encouraged to tackle complex coding challenges, work on team projects, and adapt to industry trends. This intensive program provides the skills and mindset required to excel in the ever-evolving field of software development, preparing us to embark on fulfilling careers in the tech industry.</p>
                    </div>
                </div>
            </div>
        </main>
        
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
